<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="net.sf.recoil" android:versionCode="300" android:versionName="3.0.0">
	<uses-sdk android:minSdkVersion="4" />
	<application android:label="@string/app_name" android:icon="@drawable/icon" android:description="@string/app_description">
		<activity android:name=".FileSelector" android:label="@string/app_name">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity android:name=".Viewer" android:label="@string/view_in_recoil" android:launchMode="singleTop" android:configChanges="mcc|mnc|keyboard|keyboardHidden|orientation">
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.DEFAULT" />
				<category android:name="android.intent.category.BROWSABLE" />
				<data android:mimeType="*/*" />
				<data android:scheme="file" android:host="*" />
				<data android:pathPattern=".*\\.256" />
				<data android:pathPattern=".*\\.4mi" />
				<data android:pathPattern=".*\\.4pl" />
				<data android:pathPattern=".*\\.4pm" />
				<data android:pathPattern=".*\\.a4r" />
				<data android:pathPattern=".*\\.acbm" />
				<data android:pathPattern=".*\\.acs" />
				<data android:pathPattern=".*\\.agp" />
				<data android:pathPattern=".*\\.all" />
				<data android:pathPattern=".*\\.ap2" />
				<data android:pathPattern=".*\\.ap3" />
				<data android:pathPattern=".*\\.apc" />
				<data android:pathPattern=".*\\.apl" />
				<data android:pathPattern=".*\\.app" />
				<data android:pathPattern=".*\\.apv" />
				<data android:pathPattern=".*\\.art" />
				<data android:pathPattern=".*\\.atr" />
				<data android:pathPattern=".*\\.bg9" />
				<data android:pathPattern=".*\\.bkg" />
				<data android:pathPattern=".*\\.bl1" />
				<data android:pathPattern=".*\\.bl2" />
				<data android:pathPattern=".*\\.bl3" />
				<data android:pathPattern=".*\\.bru" />
				<data android:pathPattern=".*\\.ca1" />
				<data android:pathPattern=".*\\.ca2" />
				<data android:pathPattern=".*\\.ca3" />
				<data android:pathPattern=".*\\.cci" />
				<data android:pathPattern=".*\\.ch4" />
				<data android:pathPattern=".*\\.ch6" />
				<data android:pathPattern=".*\\.ch8" />
				<data android:pathPattern=".*\\.chr" />
				<data android:pathPattern=".*\\.cin" />
				<data android:pathPattern=".*\\.cpr" />
				<data android:pathPattern=".*\\.cpt" />
				<data android:pathPattern=".*\\.dc1" />
				<data android:pathPattern=".*\\.del" />
				<data android:pathPattern=".*\\.dg1" />
				<data android:pathPattern=".*\\.dgc" />
				<data android:pathPattern=".*\\.dgp" />
				<data android:pathPattern=".*\\.dgu" />
				<data android:pathPattern=".*\\.din" />
				<data android:pathPattern=".*\\.dlm" />
				<data android:pathPattern=".*\\.doo" />
				<data android:pathPattern=".*\\.dph" />
				<data android:pathPattern=".*\\.drg" />
				<data android:pathPattern=".*\\.esc" />
				<data android:pathPattern=".*\\.fnt" />
				<data android:pathPattern=".*\\.ftc" />
				<data android:pathPattern=".*\\.fwa" />
				<data android:pathPattern=".*\\.g09" />
				<data android:pathPattern=".*\\.g10" />
				<data android:pathPattern=".*\\.g11" />
				<data android:pathPattern=".*\\.gfb" />
				<data android:pathPattern=".*\\.ghg" />
				<data android:pathPattern=".*\\.god" />
				<data android:pathPattern=".*\\.gr7" />
				<data android:pathPattern=".*\\.gr8" />
				<data android:pathPattern=".*\\.gr9" />
				<data android:pathPattern=".*\\.hip" />
				<data android:pathPattern=".*\\.hlr" />
				<data android:pathPattern=".*\\.hpm" />
				<data android:pathPattern=".*\\.hr" />
				<data android:pathPattern=".*\\.hr2" />
				<data android:pathPattern=".*\\.ice" />
				<data android:pathPattern=".*\\.icn" />
				<data android:pathPattern=".*\\.iff" />
				<data android:pathPattern=".*\\.ifl" />
				<data android:pathPattern=".*\\.ige" />
				<data android:pathPattern=".*\\.ilc" />
				<data android:pathPattern=".*\\.img" />
				<data android:pathPattern=".*\\.imn" />
				<data android:pathPattern=".*\\.ing" />
				<data android:pathPattern=".*\\.inp" />
				<data android:pathPattern=".*\\.int" />
				<data android:pathPattern=".*\\.ip2" />
				<data android:pathPattern=".*\\.ipc" />
				<data android:pathPattern=".*\\.ir2" />
				<data android:pathPattern=".*\\.irg" />
				<data android:pathPattern=".*\\.ist" />
				<data android:pathPattern=".*\\.jgp" />
				<data android:pathPattern=".*\\.lbm" />
				<data android:pathPattern=".*\\.leo" />
				<data android:pathPattern=".*\\.max" />
				<data android:pathPattern=".*\\.mbg" />
				<data android:pathPattern=".*\\.mc" />
				<data android:pathPattern=".*\\.mch" />
				<data android:pathPattern=".*\\.mcp" />
				<data android:pathPattern=".*\\.mcs" />
				<data android:pathPattern=".*\\.mg1" />
				<data android:pathPattern=".*\\.mg2" />
				<data android:pathPattern=".*\\.mg4" />
				<data android:pathPattern=".*\\.mg8" />
				<data android:pathPattern=".*\\.mgp" />
				<data android:pathPattern=".*\\.mic" />
				<data android:pathPattern=".*\\.mis" />
				<data android:pathPattern=".*\\.mpp" />
				<data android:pathPattern=".*\\.neo" />
				<data android:pathPattern=".*\\.nlq" />
				<data android:pathPattern=".*\\.pac" />
				<data android:pathPattern=".*\\.pc1" />
				<data android:pathPattern=".*\\.pc2" />
				<data android:pathPattern=".*\\.pc3" />
				<data android:pathPattern=".*\\.pcs" />
				<data android:pathPattern=".*\\.pgc" />
				<data android:pathPattern=".*\\.pgf" />
				<data android:pathPattern=".*\\.pi1" />
				<data android:pathPattern=".*\\.pi2" />
				<data android:pathPattern=".*\\.pi3" />
				<data android:pathPattern=".*\\.pi4" />
				<data android:pathPattern=".*\\.pi9" />
				<data android:pathPattern=".*\\.pic" />
				<data android:pathPattern=".*\\.pla" />
				<data android:pathPattern=".*\\.plm" />
				<data android:pathPattern=".*\\.pmd" />
				<data android:pathPattern=".*\\.pzm" />
				<data android:pathPattern=".*\\.raw" />
				<data android:pathPattern=".*\\.rgb" />
				<data android:pathPattern=".*\\.rip" />
				<data android:pathPattern=".*\\.rm0" />
				<data android:pathPattern=".*\\.rm1" />
				<data android:pathPattern=".*\\.rm2" />
				<data android:pathPattern=".*\\.rm3" />
				<data android:pathPattern=".*\\.rm4" />
				<data android:pathPattern=".*\\.scr" />
				<data android:pathPattern=".*\\.sge" />
				<data android:pathPattern=".*\\.shc" />
				<data android:pathPattern=".*\\.shp" />
				<data android:pathPattern=".*\\.spc" />
				<data android:pathPattern=".*\\.sps" />
				<data android:pathPattern=".*\\.spu" />
				<data android:pathPattern=".*\\.sxs" />
				<data android:pathPattern=".*\\.tip" />
				<data android:pathPattern=".*\\.tny" />
				<data android:pathPattern=".*\\.tn1" />
				<data android:pathPattern=".*\\.tn2" />
				<data android:pathPattern=".*\\.tn3" />
				<data android:pathPattern=".*\\.trp" />
				<data android:pathPattern=".*\\.tru" />
				<data android:pathPattern=".*\\.vzi" />
				<data android:pathPattern=".*\\.wnd" />
				<data android:pathPattern=".*\\.ximg" />
				<data android:pathPattern=".*\\.xlp" />
				<data android:pathPattern=".*\\.zxp" />
			</intent-filter>
		</activity>
	</application>
</manifest>
