<page title="Web">
	<script src="recoil.js"> </script>
	<script src="html5recoil.js"> </script>
	<script>
	function fullScreen()
	{
		const canvas = document.getElementById("canvas");
		if (canvas.webkitRequestFullScreen)
			canvas.webkitRequestFullScreen();
		else if (canvas.mozRequestFullScreen)
			canvas.mozRequestFullScreen();
	}
	</script>

	<p>This page displays pictures in file formats native to retro computers.
	Decoding takes place in your browser, nothing is sent over the network.</p>
	<p>
		Select file(s):
		<input type="file" multiple="multiple" onchange="openFiles(this.files)" />
		<select id="fileSelect" onchange="recoil2canvas(this.value)" style="display: none"> </select>
	</p>
	<canvas id="canvas" width="1" height="1"> </canvas>
	<div id="status"> </div>
	<p>
		<input type="button" id="fullScreenButton" value="Fullscreen" onclick="fullScreen()" style="display: none" />
		<a id="pngLink" href="#" target="_blank" style="display: none">Save as PNG</a>
	</p>
</page>
