<?xml version="1.0"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
	xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
	<?if $(sys.BUILDARCH) = x86?>
		<?define WIN64=no?>
		<?define PLATFORM_SUFFIX=""?>
		<?define UPGRADE_GUID=19995735-0DC9-4C92-848E-AEFF0407139C?>
		<?define PROGRAM_FILES_FOLDER=ProgramFilesFolder?>
		<?define SRC_DIR=""?>
	<?elseif $(sys.BUILDARCH) = x64?>
		<?define WIN64=yes?>
		<?define PLATFORM_SUFFIX=" (64-bit)"?>
		<?define UPGRADE_GUID=2FF8D81E-4C6A-4A2A-B5EF-2021E6620CDF?>
		<?define PROGRAM_FILES_FOLDER=ProgramFiles64Folder?>
		<?define SRC_DIR=x64\?>
	<?endif?>

	<Product Id="*" Name="FAIL - First Atari Image Library $(var.VERSION)$(var.PLATFORM_SUFFIX)" Language="1033"
		Version="$(var.VERSION)" Manufacturer="Piotr Fusik and Adrian Matoga" UpgradeCode="$(var.UPGRADE_GUID)">

		<Package Description="FAIL - First Atari Image Library" Manufacturer="Piotr Fusik and Adrian Matoga"
			InstallerVersion="200" Platform="$(sys.BUILDARCH)" Compressed="yes" />
		<MajorUpgrade DowngradeErrorMessage="Newer version of FAIL is already installed!" MigrateFeatures="yes" />
		<Media Id="1" Cabinet="fail.cab" EmbedCab="yes" CompressionLevel="high" />

		<?define FIRST_EXT=gr8?>
		<?define OTHER_EXTS=hip;mic;int;tip;inp;hr;gr9;pic;cpr;cin;cci;apc;plm;ap3;ilc;rip;fnt;sxs;mcp;ghg;hr2;mch;ige;256;ap2;jgp;dgp;esc;pzm;ist;raw;rgb;mgp;wnd;chr;shp;mbg;fwa;rm0;rm1;rm2;rm3;rm4;xlp;max;shc;all;app;sge;dlm;bkg;g09;bg9;apv;spc;apl;gr7;g10;g11;art;drg;agp;pla;mis;4pl;4mi;4pm;pgf;pgc;pi1;pi2;pi3;pc1;pc2;pc3;neo;doo;spu?>
		<?define FAIL_EXTS=gr8;$(var.OTHER_EXTS)?>
		<?define DOUBLECLICK=Double-click Atari image file in Windows Explorer to display it in ?>

		<Icon Id="faileye.ico" SourceFile="faileye.ico" />
		<Property Id="ARPHELPLINK" Value="http://fail.sourceforge.net/" />
		<Property Id="ARPPRODUCTICON" Value="faileye.ico" />
		<WixVariable Id="WixUILicenseRtf" Value="license.rtf" />
		<!--<WixVariable Id="WixUIDialogBmp" Value="fail-dialog.jpg" />
		<WixVariable Id="WixUIBannerBmp" Value="fail-banner.jpg" /> -->

		<UI Id="MyWixUI_FeatureTree">
			<!-- customized WixUI_FeatureTree from Wix 3.0 - my changes commented -->
			<TextStyle Id="WixUI_Font_Normal" FaceName="Tahoma" Size="8" />
			<TextStyle Id="WixUI_Font_Bigger" FaceName="Tahoma" Size="12" />
			<TextStyle Id="WixUI_Font_Title" FaceName="Tahoma" Size="9" Bold="yes" />

			<Property Id="DefaultUIFont" Value="WixUI_Font_Normal" />
			<Property Id="WixUI_Mode" Value="FeatureTree" />

			<DialogRef Id="ErrorDlg" />
			<DialogRef Id="FatalError" />
			<DialogRef Id="FilesInUse" />
			<DialogRef Id="MsiRMFilesInUse" />
			<DialogRef Id="PrepareDlg" />
			<DialogRef Id="ProgressDlg" />
			<DialogRef Id="ResumeDlg" />
			<DialogRef Id="UserExit" />

			<Publish Dialog="ExitDialog" Control="Finish" Event="EndDialog" Value="Return" Order="999">1</Publish>

			<Publish Dialog="WelcomeDlg" Control="Next" Event="NewDialog" Value="MyLicenseAgreementDlg">1</Publish>

			<Publish Dialog="MyLicenseAgreementDlg" Control="Back" Event="NewDialog" Value="WelcomeDlg">1</Publish>
			<Publish Dialog="MyLicenseAgreementDlg" Control="Next" Event="NewDialog" Value="MyCustomizeDlg">1</Publish>

			<Publish Dialog="MyCustomizeDlg" Control="Back" Event="NewDialog" Value="MaintenanceTypeDlg" Order="1">Installed</Publish>
			<Publish Dialog="MyCustomizeDlg" Control="Back" Event="NewDialog" Value="MyLicenseAgreementDlg" Order="2">NOT Installed</Publish>
			<Publish Dialog="MyCustomizeDlg" Control="Next" Event="NewDialog" Value="VerifyReadyDlg">1</Publish>

			<Publish Dialog="VerifyReadyDlg" Control="Back" Event="NewDialog" Value="MyCustomizeDlg" Order="1">NOT Installed OR WixUI_InstallMode = "Change"</Publish>
			<Publish Dialog="VerifyReadyDlg" Control="Back" Event="NewDialog" Value="MaintenanceTypeDlg" Order="2">Installed</Publish>

			<Publish Dialog="MaintenanceWelcomeDlg" Control="Next" Event="NewDialog" Value="MaintenanceTypeDlg">1</Publish>

			<Publish Dialog="MaintenanceTypeDlg" Control="ChangeButton" Event="NewDialog" Value="MyCustomizeDlg">1</Publish>
			<Publish Dialog="MaintenanceTypeDlg" Control="RepairButton" Event="NewDialog" Value="VerifyReadyDlg">1</Publish>
			<Publish Dialog="MaintenanceTypeDlg" Control="RemoveButton" Event="NewDialog" Value="VerifyReadyDlg">1</Publish>
			<Publish Dialog="MaintenanceTypeDlg" Control="Back" Event="NewDialog" Value="MaintenanceWelcomeDlg">1</Publish>

			<Dialog Id="MyLicenseAgreementDlg" Width="370" Height="270" Title="!(loc.LicenseAgreementDlg_Title)">
				<!-- removed the checkbox and replaced the "Next" button with "I Accept" -->
				<Control Id="Next" Type="PushButton" X="236" Y="243" Width="56" Height="17" Default="yes" Text="I &amp;Accept">
					<!-- http://www.joyofsetup.com/2010/05/20/its-time-to-experiment/
					<Publish Event="SpawnWaitDialog" Value="WaitForCostingDlg">CostingComplete = 1</Publish>
					-->
				</Control>
				<Control Id="Back" Type="PushButton" X="180" Y="243" Width="56" Height="17" Text="!(loc.WixUIBack)" />
				<Control Id="Cancel" Type="PushButton" X="304" Y="243" Width="56" Height="17" Cancel="yes" Text="!(loc.WixUICancel)">
					<Publish Event="SpawnDialog" Value="CancelDlg">1</Publish>
				</Control>
				<Control Id="BannerBitmap" Type="Bitmap" X="0" Y="0" Width="370" Height="44" TabSkip="no" Text="!(loc.LicenseAgreementDlgBannerBitmap)" />
				<!-- higher license box because of the removed checkbox -->
				<Control Id="LicenseText" Type="ScrollableText" X="20" Y="60" Width="330" Height="155" Sunken="yes" TabSkip="no">
					<Text SourceFile="!(wix.WixUILicenseRtf)" />
				</Control>
				<!-- removed the "Print" button -->
				<Control Id="BannerLine" Type="Line" X="0" Y="44" Width="370" Height="0" />
				<Control Id="BottomLine" Type="Line" X="0" Y="234" Width="370" Height="0" />
				<Control Id="Description" Type="Text" X="25" Y="23" Width="340" Height="15" Transparent="yes" NoPrefix="yes" Text="!(loc.LicenseAgreementDlgDescription)" />
				<Control Id="Title" Type="Text" X="15" Y="6" Width="200" Height="15" Transparent="yes" NoPrefix="yes" Text="!(loc.LicenseAgreementDlgTitle)" />
			</Dialog>

			<Dialog Id="MyCustomizeDlg" Width="370" Height="270" Title="!(loc.CustomizeDlg_Title)" TrackDiskSpace="yes">
				<!-- wider and higher selection tree so it doesn't need scrollbars -->
				<Control Id="Tree" Type="SelectionTree" X="10" Y="75" Width="190" Height="125" Property="_BrowseProperty" Sunken="yes" TabSkip="no" Text="!(loc.CustomizeDlgTree)" />
				<Control Id="Browse" Type="PushButton" X="294" Y="210" Width="66" Height="17" Text="!(loc.CustomizeDlgBrowse)">
					<Publish Event="SelectionBrowse" Value="BrowseDlg">1</Publish>
					<Condition Action="hide">Installed</Condition>
					<Condition Action="disable">Installed</Condition>
				</Control>
				<!-- removed the "Reset" and "Disk Cost" buttons, moved the "Back" and "Next" buttons to their position in other dialogs -->
				<Control Id="Back" Type="PushButton" X="180" Y="243" Width="56" Height="17" Text="!(loc.WixUIBack)" />
				<Control Id="Next" Type="PushButton" X="236" Y="243" Width="56" Height="17" Default="yes" Text="!(loc.WixUINext)">
					<Subscribe Event="SelectionNoItems" Attribute="Enabled" />
				</Control>
				<Control Id="Cancel" Type="PushButton" X="304" Y="243" Width="56" Height="17" Cancel="yes" Text="!(loc.WixUICancel)">
					<Publish Event="SpawnDialog" Value="CancelDlg">1</Publish>
				</Control>
				<Control Id="BannerBitmap" Type="Bitmap" X="0" Y="0" Width="370" Height="44" TabSkip="no" Text="!(loc.CustomizeDlgBannerBitmap)" />
				<Control Id="Text" Type="Text" X="25" Y="55" Width="320" Height="20" Text="!(loc.CustomizeDlgText)" />
				<Control Id="BannerLine" Type="Line" X="0" Y="44" Width="370" Height="0" />
				<Control Id="BottomLine" Type="Line" X="0" Y="234" Width="370" Height="0" />
				<Control Id="Description" Type="Text" X="25" Y="23" Width="280" Height="15" Transparent="yes" NoPrefix="yes" Text="!(loc.CustomizeDlgDescription)" />
				<Control Id="Title" Type="Text" X="15" Y="6" Width="210" Height="15" Transparent="yes" NoPrefix="yes" Text="!(loc.CustomizeDlgTitle)" />
				<Control Id="Box" Type="GroupBox" X="210" Y="71" Width="150" Height="128" />
				<Control Id="ItemDescription" Type="Text" X="215" Y="90" Width="131" Height="50" Text="!(loc.CustomizeDlgItemDescription)">
					<Subscribe Event="SelectionDescription" Attribute="Text" />
				</Control>
				<Control Id="ItemSize" Type="Text" X="215" Y="140" Width="131" Height="50" Text="!(loc.CustomizeDlgItemSize)">
					<Subscribe Event="SelectionSize" Attribute="Text" />
				</Control>
				<Control Id="Location" Type="Text" X="90" Y="210" Width="200" Height="20" Text="!(loc.CustomizeDlgLocation)">
					<Subscribe Event="SelectionPath" Attribute="Text" />
					<Subscribe Event="SelectionPathOn" Attribute="Visible" />
					<Condition Action="hide">Installed</Condition>
				</Control>
				<Control Id="LocationLabel" Type="Text" X="25" Y="210" Width="65" Height="10" Text="!(loc.CustomizeDlgLocationLabel)">
					<Subscribe Event="SelectionPathOn" Attribute="Visible" />
					<Condition Action="hide">Installed</Condition>
				</Control>
			</Dialog>
			
			<?if $(sys.BUILDARCH) = x86?>
			<!-- handle mutually exclusive file associations, conditions generated with wix_mutex.pl -->
			<?foreach MUTEXCOND in (($failwin.ext=3 OR ($failwin.ext=-1 AND ?failwin.ext=3)) AND ($xnview_fail.ext=3 OR ($xnview_fail.ext=-1 AND ?xnview_fail.ext=3)))?>
			<Publish Dialog="MyCustomizeDlg" Control="Next" Event="SpawnDialog" Value="MyManyAssociationsDlg" Order="3">
				$(var.MUTEXCOND)
			</Publish>
			<?endforeach?>
			<Dialog Id="MyManyAssociationsDlg" Width="270" Height="85" Title="!(loc.ErrorDlg_Title)">
				<Control Id="ErrorText" Type="Text" X="48" Y="15" Width="205" Height="60" TabSkip="no" Text="You have selected &quot;Associate file types&quot; for many viewers. You may associate files with only one viewer." />
				<Control Id="ErrorIcon" Type="Icon" X="15" Y="15" Width="24" Height="24" ToolTip="!(loc.ErrorDlgErrorIconTooltip)" FixedSize="yes" IconSize="32" Text="!(loc.ErrorDlgErrorIcon)" />
				<Control Id="O" Type="PushButton" X="100" Y="60" Width="56" Height="17" TabSkip="yes" Text="!(loc.WixUIOK)">
					<Publish Event="EndDialog" Value="Return">1</Publish>
				</Control>
			</Dialog>
			<?endif?>
		</UI>
		<UIRef Id="WixUI_Common" />

		<?if $(sys.BUILDARCH) = x86?>
		<Property Id="XNVIEW.DIR">
			<RegistrySearch Id="xnview.installdir" Root="HKLM" Key="SOFTWARE\Microsoft\Windows\CurrentVersion\Uninstall\XnView_is1" Name="InstallLocation" Type="directory" />
		</Property>
		<Property Id="XNVIEW.EXE">
			<RegistrySearch Id="xnview.exe" Root="HKLM" Key="SOFTWARE\Microsoft\Windows\CurrentVersion\Uninstall\XnView_is1" Name="InstallLocation" Type="directory">
				<FileSearch Name="xnview.exe" />
			</RegistrySearch>
		</Property>
		<?endif?>
		<Property Id="IMCODERS.DIR">
			<RegistrySearch Id="imcoders.dir" Root="HKLM" Key="SOFTWARE\ImageMagick\Current" Name="CoderModulesPath" Type="directory" Win64="$(var.WIN64)" />
		</Property>
		<Property Id="IMCONFIG.DIR">
			<RegistrySearch Id="imconfig.dir" Root="HKLM" Key="SOFTWARE\ImageMagick\Current" Name="ConfigurePath" Type="directory" Win64="$(var.WIN64)" />
		</Property>
		<Property Id="CODER.XML">
			<DirectorySearch Id="coder.xml" Path="[IMCONFIG.DIR]" Depth="1">
				<FileSearch Name="coder.xml" />
			</DirectorySearch>
		</Property>

		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="$(var.PROGRAM_FILES_FOLDER)">
				<Directory Id="FAIL.DIR" Name="FAIL">
					<?if $(sys.BUILDARCH) = x86?>
					<Component Id="failwin.exe" Guid="*">
						<File Name="failwin.exe" Source="failwin.exe" Checksum="yes" KeyPath="yes" />
					</Component>
					<Component Id="failwin.ext" Guid="*">
						<RegistryValue Root="HKCR" Key="fail.file" Name="failwin" Type="integer" Value="1" KeyPath="yes" />
						<ProgId Id="failwin.file">
							<Extension Id="$(var.FIRST_EXT)">
								<!-- Verb needs to be defined only once per ProgId -->
								<Verb Id="open" TargetFile="failwin.exe" Argument='"%1"' />
							</Extension>
							<?foreach EXT in $(var.OTHER_EXTS)?>
								<Extension Id="$(var.EXT)" />
							<?endforeach?>
						</ProgId>
					</Component>
					<Component Id="fail2png.exe" Guid="*">
						<File Name="fail2png.exe" Source="fail2png.exe" Checksum="yes" KeyPath="yes" />
					</Component>
					<Component Id="path" Guid="496125A6-884C-4A43-B075-268A248EF3E5">
						<Environment Id="path" Action="set" Name="Path" Part="last" Permanent="no" System="yes" Value="[FAIL.DIR]" />
						<CreateFolder />
					</Component>
					<Component Id="README_WindowsSetup.html" Guid="*">
						<File Name="README_WindowsSetup.html" Source="README_WindowsSetup.html" KeyPath="yes" />
					</Component>
					<?endif?>
					<Component Id="thumbfail.dll" Guid="*" Win64="$(var.WIN64)">
						<File Name="thumbfail.dll" Source="$(var.SRC_DIR)thumbfail.dll" Checksum="yes" KeyPath="yes">
							<Class Id="{3C450D81-B6BD-4D8C-923C-FC659ABB27D3}" Context="InprocServer32" Description="FAIL Thumbnail Handler" ThreadingModel="both" />
						</File>
						<RegistryValue Root="HKLM" Key="Software\Microsoft\Windows\CurrentVersion\Shell Extensions\Approved" Name="{3C450D81-B6BD-4D8C-923C-FC659ABB27D3}" Value="FAIL Thumbnail Handler" Type="string" Action="write" />
						<?foreach EXT in $(var.FAIL_EXTS)?>
							<RegistryValue Root="HKCR" Key=".$(var.EXT)\ShellEx\{e357fccd-a995-4576-b01f-234630154e96}" Value="{3C450D81-B6BD-4D8C-923C-FC659ABB27D3}" Type="string" Action="write" />
						<?endforeach?>
					</Component>
				</Directory>
				<?if $(sys.BUILDARCH) = x86?>
				<Directory Id="XNVIEW.DIR" Name="XnView">
					<Directory Id="XNVIEWPLUG.DIR" Name="PlugIns">
						<?foreach I in 1;2;3;4;5;6;7;8?>
							<Component Id="Xfail$(var.I).usr" Guid="*">
								<File Name="Xfail$(var.I).usr" Source="Xfail$(var.I).usr" Checksum="yes" KeyPath="yes" />
							</Component>
						<?endforeach?>
					</Directory>
					<Component Id="xnview_fail.ext" Guid="*">
						<RegistryValue Root="HKCR" Key="fail.file" Name="XnView.Image" Type="integer" Value="1" KeyPath="yes" />
						<ProgId Id="XnView.Image">
							<Extension Id="$(var.FIRST_EXT)">
								<!-- Verb needs to be defined only once per ProgId -->
								<Verb Id="open" TargetProperty="XNVIEW.EXE" Argument='"%1"' />
							</Extension>
							<?foreach EXT in $(var.OTHER_EXTS)?>
								<Extension Id="$(var.EXT)" />
							<?endforeach?>
						</ProgId>
					</Component>
				</Directory>
				<?endif?>
				<Directory Id="IMCODERS.DIR" Name="ImageMagick-FAIL"><!-- fake Name -->
					<Component Id="IM_MOD_RL_fail_.dll" Guid="*" Win64="$(var.WIN64)">
						<File Name="IM_MOD_RL_fail_.dll" Source="$(var.SRC_DIR)IM_MOD_RL_fail_.dll" Checksum="yes" KeyPath="yes" />
						<?foreach EXT in $(var.FAIL_EXTS)?>
							<util:XmlConfig Id="coder.xml_$(var.EXT)_Element_create" On="install" Action="create" Node="element" ElementPath="/codermap" Name="coder" File="[CODER.XML]" />
							<util:XmlConfig Id="coder.xml_$(var.EXT)_Magick_create" ElementPath="coder.xml_$(var.EXT)_Element_create" Name="magick" Value="$(var.EXT)" File="[CODER.XML]" />
							<util:XmlConfig Id="coder.xml_$(var.EXT)_Name_create" ElementPath="coder.xml_$(var.EXT)_Element_create" Name="name" Value="FAIL" File="[CODER.XML]" />
							<util:XmlConfig Id="coder.xml_$(var.EXT)_Element_delete" On="uninstall" Action="delete" Node="element" VerifyPath="/codermap/coder[\[]@magick='$(var.EXT)' and @name='FAIL'[\]]" ElementPath="/codermap" Name="coder" File="[CODER.XML]" />
 						<?endforeach?>
					</Component>
				</Directory>
			</Directory>

			<?if $(sys.BUILDARCH) = x86?>
			<Directory Id="ProgramMenuFolder" Name="Programs">
				<Directory Id="menu.dir" Name="FAIL">
					<Component Id="FAILWin.lnk" Guid="*">
						<RegistryValue Root="HKCU" Key="Software\FAIL" Name="ProgramsMenuFAILWin" Type="integer" Value="1" KeyPath="yes" />
						<Shortcut Id="FAILWin.lnk" Name="FAILWin" Target="[#failwin.exe]" />
					</Component>
					<Component Id="Documentation.lnk" Guid="*">
						<RemoveFolder Id="menu.dir" On="uninstall" />
						<RegistryValue Root="HKCU" Key="Software\FAIL" Name="ProgramsMenuDoc" Type="integer" Value="1" KeyPath="yes" />
						<Shortcut Id="Documentation.lnk" Name="Documentation" Target="[#README_WindowsSetup.html]" />
					</Component>
					<Component Id="Website.url" Guid="517E5616-5C8E-428B-834E-5059C00947F2">
						<RegistryValue Root="HKCU" Key="Software\FAIL" Name="ProgramsMenuWebsite" Type="integer" Value="1" KeyPath="yes" />
						<File Name="Website.url" Source="Website.url" />
					</Component>
					<!--
					<Component Id="uninstall.lnk" Guid="*">
						<RegistryValue Root="HKCU" Key="Software\FAIL" Name="ProgramsMenuUninstall" Type="integer" Value="1" KeyPath="yes" />
						<Shortcut Id="uninstall.lnk" Name="Uninstall" Target="[System64Folder]msiexec.exe" Arguments="/x [ProductCode]" />
					</Component>
					-->
				</Directory>
			</Directory>
			<Directory Id="DesktopFolder" Name="Desktop">
				<Component Id="FAILWin.desktop" Guid="*">
					<RegistryValue Root="HKCU" Key="Software\FAIL" Name="DesktopFAILWin" Type="integer" Value="1" KeyPath="yes" />
					<Shortcut Id="FAILWin.desktop" Name="FAILWin" Target="[#failwin.exe]" />
				</Component>
			</Directory>
			<?endif?>
		</Directory>

		<?if $(sys.BUILDARCH) = x86?>
		<Feature Id="failwin" Title="FAILWin" Level="1" ConfigurableDirectory="FAIL.DIR" Description="Simple viewer." AllowAdvertise="no">
			<ComponentRef Id="failwin.exe" />
			<Feature Id="failwin.lnk" Title="Start menu shortcut" Level="1" Description="Adds FAILWin to the Programs menu." AllowAdvertise="no">
				<ComponentRef Id="FAILWin.lnk" />
			</Feature>
			<Feature Id="failwin.desktop" Title="Desktop shortcut" Level="9" Description="Adds FAILWin to the desktop." AllowAdvertise="no">
				<ComponentRef Id="FAILWin.desktop" />
			</Feature>
			<Feature Id="failwin.ext" Title="Associate file types" Level="9" Description="$(var.DOUBLECLICK) FAILWin." AllowAdvertise="no">
				<ComponentRef Id="failwin.ext" />
			</Feature>
		</Feature>
		<Feature Id="fail2png" Title="FAIL2PNG" Level="1" ConfigurableDirectory="FAIL.DIR" Description="Command-line converter to PNG files." AllowAdvertise="no">
			<ComponentRef Id="fail2png.exe" />
			<Feature Id="path" Title="Add to Path" Level="1" Description="Add the directory to the Path environment variable so that you don't have to type the location of fail2png at the command prompt." AllowAdvertise="no">
				<ComponentRef Id="path" />
			</Feature>
		</Feature>
		<Feature Id="xnview" Title="XnView plugin" Level="9" ConfigurableDirectory="XNVIEWPLUG.DIR" Description="Plugin for XnView." AllowAdvertise="no">
			<Condition Level="1">XNVIEW.DIR</Condition>
			<ComponentRef Id="Xfail1.usr" />
			<ComponentRef Id="Xfail2.usr" />
			<ComponentRef Id="Xfail3.usr" />
			<ComponentRef Id="Xfail4.usr" />
			<ComponentRef Id="Xfail5.usr" />
			<ComponentRef Id="Xfail6.usr" />
			<ComponentRef Id="Xfail7.usr" />
			<ComponentRef Id="Xfail8.usr" />
			<Feature Id="xnview_fail.ext" Title="Associate file types" Level="0" Description="$(var.DOUBLECLICK) XnView." AllowAdvertise="no">
				<Condition Level="9">XNVIEW.EXE</Condition>
				<ComponentRef Id="xnview_fail.ext" />
			</Feature>
		</Feature>
		<?endif?>

		<Feature Id="imagemagick" Title="ImageMagick coder" Level="0" ConfigurableDirectory="IMCODERS.DIR" Description="Image coder for ImageMagick." AllowAdvertise="no">
			<Condition Level="1">IMCODERS.DIR AND CODER.XML</Condition>
			<ComponentRef Id="IM_MOD_RL_fail_.dll" />
		</Feature>
		<Feature Id="thumbfail" Title="Windows thumbnail provider" Level="0" ConfigurableDirectory="FAIL.DIR" Description="Shows thumbnails in Windows Explorer." AllowAdvertise="no">
			<?if $(sys.BUILDARCH) = x86?>
				<Condition Level="9">VersionNT &gt;= 600 AND NOT VersionNT64</Condition><!-- optional on 32-bit Vista+ -->
			<?elseif $(sys.BUILDARCH) = x64?>
				<Condition Level="1">VersionNT64 &gt;= 600</Condition><!-- selected on 64-bit Vista+ -->
			<?endif?>
			<ComponentRef Id="thumbfail.dll" />
		</Feature>

		<?if $(sys.BUILDARCH) = x86?>
		<Feature Id="docs" Title="Documentation" Level="1" ConfigurableDirectory="FAIL.DIR" Description="Documentation file." AllowAdvertise="no">
			<ComponentRef Id="README_WindowsSetup.html" />
			<Feature Id="docs.lnk" Title="Start menu shortcuts" Level="1" Description="Adds documentation and website links to the Programs menu." AllowAdvertise="no">
				<ComponentRef Id="Documentation.lnk" />
				<ComponentRef Id="Website.url" />
			</Feature>
		</Feature>
		<!--
		<Feature Id="uninstall" Title="Uninstall shortcut" Level="1" Description="Adds uninstall link to the Programs menu (in addition to the Control Panel which is always available)." AllowAdvertise="no">
			<ComponentRef Id="uninstall.lnk" />
		</Feature>
		-->
		<?endif?>

	</Product>
</Wix>
